
<center>
<img src="head.png" width="75%" height="75%">
<p><br></p>
<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>
<% unless user_signed_in? %>
  <%= button_to "Connect with Memair", user_memair_omniauth_authorize_path, id: "sign_in", class: "btn btn-lg btn-primary" %>
<% end %>
<% if user_signed_in? && current_user.twitter_access_token.nil? %>
  <%= button_to "Connect with Twittert", user_twitter_omniauth_authorize_path, id: "sign_in", class: "btn btn-lg btn-primary" %>
<% end %>
</center>

<script>
  if(window.location.hash == '#install') {
    document.getElementById('sign_in').click()
  }
</script>
